/**
 * App Window
 */
@define-color bg_color rgba(36, 40, 59, 0.9);
@define-color window_bg @bg_color;
@define-color window_border_color rgba(42, 195, 222, 1);
@define-color prefs_backgroud rgba(36, 40, 59, 1);

/**
 * Input
 */
@define-color selected_bg_color rgba(65, 72, 104, 1);
@define-color selected_fg_color rgba(187, 154, 247, 1);
@define-color input_color rgba(158, 206, 106, 1);
@define-color caret_color darker(@input_color);

/**
 * Result items
 */
@define-color item_name rgba(86, 95, 137, 1);
@define-color item_text @selected_fg_color;

@define-color item_box_selected rgba(65, 72, 104, 0.8);
@define-color item_text_selected rgba(255, 158, 100, 1);
@define-color item_name_selected rgba(115, 218, 202, 1);

@define-color item_shortcut_color rgba(224, 175, 104, 1);
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel rgba(247, 118, 142, 1);
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
    background-color: @window_bg;
    border: 2px solid @window_border_color;
    border-radius: 30px;
    margin: 0 -20px;
}

.input {
    color: @input_color;
    padding: 0px;
    margin-left: 15px;
    border-bottom: 1px solid alpha(@window_border_color,0.3);
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
}

.item-box {
    border-bottom: 1px dashed alpha(@window_border_color, 0.1);
}

.selected.item-box {
    background-color: @item_box_selected;
    border-radius: 15px;
}

.selected.item-box .item-text {
    color: @item_text_selected;
}

.selected.item-box .item-name {
    color: @item_name_selected;
}

.item-shortcut {
    color: @item_shortcut_color;
    text-shadow: 1px 1px 1px @item_shortcut_shadow;
}
.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;
    text-shadow: 1px 1px 1px @item_shortcut_shadow_sel;
}

.result-box {
    margin: 0px 19px 0px 19px;
}

.prefs-btn {
    opacity: 0.8;
}
.prefs-btn:hover {
    background-color: @prefs_backgroud;
}

.no-window-shadow {
    margin: -20px;
}
